Stepfunction/state_machine.json
{
  "StartAt": "ReadFilterJob",
  "States": {
    "ReadFilterJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "myfinalCCproject_job",
        "Arguments": {
          "--db": "trips",
          "--db_creds": "redshiftqueryeditor-admin-myCCproject_secret",
          "--bucket": "redshift-scriptbucket123456",
          "--file": "sql/etl.sql"
        }
      },
      "Next": "ReportJob",
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "NotifyFailure",
          "ResultPath": "$.cause"
        }
      ]
    },
    "ReportJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "myfinalCCproject_job",
        "Arguments": {
          "--db": "trips",
          "--db_creds": "redshiftqueryeditor-admin-myCCproject_secret",
          "--bucket": "redshift-scriptbucket123456",
          "--file": "sql/final.sql"
        }
      },
      "End": true,
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "NotifyFailure",
          "ResultPath": "$.cause"
        }
      ]
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:811504225581:alarm_topic",
        "Message.$": "$.cause"
      },
      "End": true
    }
  }
}